:root {
  --accent-color: #2196F3;
  --title-color: #212121;
  --text-color: #757575;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
}

input,
ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: -1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.container {
  /* width: 1200px; */
  margin: 0 auto;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.section-title {
  margin: 0 auto;
  padding: 0;
  font-family: inherit;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  z-index: 2;
  -webkit-transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
  transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: opacity 250ms var(--timing-function);
  transition: opacity 250ms var(--timing-function);
  min-width: 528px;
  min-height: 581px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal__icon {
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}
.modal__icon:hover, .modal__icon:focus {
  fill: var(--accent-color);
}

.modal__direction {
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-color);
  margin: 0 auto;
  padding: 40px 40px 12px 40px;
  display: block;
}

.form {
  width: 100%;
  /* outline: 2px solid #212121; */
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  margin-left: auto;
  margin-right: auto;
}

.form__fieled {
  position: relative;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__label {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: var(--text-color);
  margin-bottom: 4px;
}

.form__input {
  -webkit-transition: border 250ms var(--timing-function);
  transition: border 250ms var(--timing-function);
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  padding-left: 40px;
  padding-right: 15px;
}
.form__input:focus {
  border: 1px solid var(--accent-color);
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
}
.form__input:focus + .form__icon {
  fill: var(--accent-color);
}

/* .wrapper{
    position: relative;
    display: block;
} */
.form__comment {
  -webkit-transition: border 250ms var(--timing-function);
  transition: border 250ms var(--timing-function);
  padding: 12px 16px;
  height: 120px;
  resize: none;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}
.form__comment:focus {
  border: 1px solid var(--accent-color);
}

/* .checkbox--visually-hidden{
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
} */
.clause {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 30px;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.clause__border {
  width: 16px;
  height: 15px;
  border-radius: 2px;
  border: 2px solid #212121;
  margin-right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.checkbox:checked + .clause__border {
  background-color: var(--accent-color);
  border: none;
}

.checkbox__visually-hidden {
  position: absolute;
  width: 1px;
  height: -1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.clause__link {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--accent-color);
}

.form__btn-modal {
  padding: 10px 55px;
  margin: 0 auto;
  min-width: 200px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  cursor: pointer;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  display: block;
  border-color: transparent;
  background-color: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.page-header {
  border-bottom: #ECECEC solid 1px;
}

.page-header__main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-header__logo {
  color: #212121;
}

.logo {
  /* transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
  margin-right: 90px;
  padding: 24px 0;
  display: block;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.2;
}
.logo:hover, .logo:focus {
  color: var(--accent-color);
}

.logo--accent {
  color: var(--accent-color);
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item:not(:first-child) {
  margin-left: 50px;
}

.menu__link {
  position: relative;
  padding: 32px 0;
  /* transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
  color: var(--title-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
}
.menu__link--underline::after {
  content: "";
  position: absolute;
  -webkit-transition: -webkit-transform 250ms var(--timing-function);
  transition: -webkit-transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  display: block;
  border-radius: 2px;
  background-color: var(--accent-color);
}
.menu__link:hover, .menu__link:focus {
  color: var(--accent-color);
}

.menu__link--current {
  color: var(--accent-color);
}

.conection {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.conection__item {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.conection__item:not(:first-child) {
  margin-left: 50px;
}

.conection__icon {
  margin-right: 10px;
  fill: currentColor;
}
.conection__icon:hover, .conection__icon:focus {
  fill: var(--accent-color);
}

.conection__link {
  /* transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
  margin-left: 10px;
  padding: 32px 0;
  color: #757575;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.conection__link:hover, .conection__link:focus {
  color: var(--accent-color);
}

.hero {
  padding: 200px 0;
  max-width: 1600px;
  margin: 0 auto;
  background-color: #2F303A;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero__container {
  height: 100%;
}

.hero__title {
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3636363636;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.hero__button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
  color: #ffffff;
  display: block;
  min-width: 200px;
  padding: 8px 30px;
  margin: 0 auto;
}

.peculirities {
  padding: 94px 0;
  /* background-color:teal; */
}

.peculiries__visually-hidden {
  position: absolute;
  width: 1px;
  height: -1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.peculirities-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.peculirities-list__item {
  -ms-flex-preferred-size: calc((100% - 90px) / 4);
      flex-basis: calc((100% - 90px) / 4);
}

.peculirities-list__content-icon {
  background-color: #F5F4FA;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.peculirities-list__title {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
}

.peculirities-list__text {
  line-height: 1.71;
  color: var(--text-color);
}

.occupation {
  padding-bottom: 94px;
}

.occupation__section-title {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-color);
}

.occupation__title {
  margin-bottom: 50px;
}

.occupation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.occupation-list__item {
  position: relative;
  display: block;
}
.occupation-list__item:not(:first-child) {
  margin-left: 30px;
}
.occupation-list__item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.occupation-list__text {
  position: absolute;
  font-weight: 700;
  line-height: 1.1428571429;
  text-align: center;
  padding-bottom: 10px;
  bottom: 0;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  text-transform: uppercase;
  width: 100%;
  height: auto;
  z-index: 1;
  /* padding-top: 27px;
  padding-bottom: 27px; */
  color: #FFFFFF;
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #F5F4FA;
}

.team__section-title {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-color);
}

.team__title {
  margin-bottom: 50px;
}

.card-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-set__item {
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.card-set__item:not(:first-child) {
  margin-left: 30px;
}

.card-set__information {
  padding: 32px 30px;
}

.card-set__name {
  margin-bottom: 10px;
  text-align: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.card-set__profession {
  /* padding-bottom: 30px; */
  margin-bottom: 16px;
  text-align: center;
  font-size: 16px;
  line-height: 1.2;
  color: var(--text-color);
}

.icon-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.icon-list__item {
  width: 44px;
  height: 44px;
}
.icon-list__item:not(:first-child) {
  margin-left: 10px;
}

.icon-list__link {
  -webkit-transition: fill 250ms var(--timing-function), background-color 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function), background-color 250ms var(--timing-function);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  fill: #AFB1B8;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.icon-list__link:hover, .icon-list__link:focus {
  fill: #ffffff;
  background-color: var(--accent-color);
}

.client {
  padding: 94px 0;
}

.client__section-title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  color: var(--title-color);
}

.client__title {
  margin-bottom: 50px;
}

.client-list {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.client-list__item {
  width: 100%;
  height: 92px;
}
.client-list__item:not(:first-child) {
  margin-left: 30px;
}

.client-list__link {
  -webkit-transition: fill 250ms var(--timing-function), outline 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function), outline 250ms var(--timing-function);
  width: 100%;
  height: 100%;
  fill: #AFB1B8;
  outline: 1px solid #AFB1B8;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.client-list__link:hover, .client-list__link:focus {
  outline: 1px solid var(--accent-color);
  fill: var(--accent-color);
}

.client-list__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer {
  padding: 60px 0;
  background-color: #2F303A;
}

.footer-left-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer__logo {
  margin-right: 0;
  padding: 0;
  margin-bottom: 20px;
  color: #ffffff;
}

.contact {
  font-style: inherit;
}

.contact-list__item {
  line-height: 1.71;
}
.contact-list__item:not(:last-child) {
  margin-bottom: 8px;
}

.contact-list__link {
  color: var(--footer-text-color);
}

.contact-list__link--address {
  color: #ffffff;
}

.join {
  margin-left: 70px;
}

.join__title {
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.join-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.join-list__item {
  width: 44px;
  height: 44px;
}
.join-list__item:not(:first-child) {
  margin-left: 10px;
}

.join-list__link {
  -webkit-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  fill: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.join-list__link:hover, .join-list__link:focus {
  background-color: var(--accent-color);
}

.footer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 72px;
  padding-left: 94px;
}

.footer-form__label {
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-form__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-form__input {
  width: 356px;
  height: 50px;
  padding-left: 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.footer-form__btn {
  min-width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 10px 10px 30px;
  margin-left: 12px;
}

.footer-form-icon {
  margin-left: 10px;
}

.exampeles {
  padding-top: 94px;
  padding-bottom: 94px;
  /* background: grey; */
}

.exemples__visually-hidden {
  position: absolute;
  width: 1px;
  height: -1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.filters-list {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* outline: magenta solid 2px; */
}

.filters-list__item:not(:first-child) {
  margin-left: 8px;
}

.filters-list__btn {
  -webkit-transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
  padding: 6px 22px;
  min-width: 73px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  background-color: #F5F4FA;
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
  display: block;
  color: #212121;
}
.filters-list__btn:hover, .filters-list__btn:focus {
  color: #ffffff;
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project-list {
  margin-left: -30px;
  margin-bottom: -30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /* outline:teal solid 2px; */
}

.project-list__item {
  -webkit-transition: -webkit-box-shadow 250ms var(--timing-function);
  transition: -webkit-box-shadow 250ms var(--timing-function);
  transition: box-shadow 250ms var(--timing-function);
  transition: box-shadow 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
  -ms-flex-preferred-size: calc(33.3333333333% - 60px);
      flex-basis: calc(33.3333333333% - 60px);
  margin-left: 30px;
  margin-bottom: 30px;
}
.project-list__item:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-list__thumb {
  position: relative;
  overflow: hidden;
}

.project-list__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: opacity 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
  transition: opacity 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), opacity 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), opacity 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
}
.project-list__item:hover .project-list__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.project-list__text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 18px;
  line-height: 1.5555555556;
  min-width: 322px;
  min-height: 168px;
  color: #ffffff;
}

.project-list__content {
  padding: 24px 20px;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
}

.project-list__topic {
  margin-bottom: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.project-list__name {
  font-size: 16px;
  line-height: 1.88;
  color: var(--text-color);
}/*# sourceMappingURL=main.css.map */